<div class="app">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Yoga app</span>
    @if ($isLogged() | async) {
    <div>
      <span routerLink="sessions" class="link">Sessions</span>
      <span routerLink="me" class="link" data-cy="account_nav">Account</span>
      <span (click)="logout()" class="link" data-cy="logout_nav" id="logout_nav">Logout</span>
    </div>
  } @else {
      <div>
        <a routerLink="/login" routerLinkActive="active" class="link" data-cy="login_nav" id="login_nav">Login</a>
        <a routerLink="/register" routerLinkActive="active" class="link" data-cy="register_nav">Register</a>
      </div>
    }
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
